@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor1: #f0dfcb;
}

/* Falta fazer revisão de código W3C */

* {
  font-family: Roboto;
  padding: 0px;
  margin: 0px;
  background-color: var(--cor1);
}

header {
  background-color: black;
}

img#logo {
  height: 12vh;
}
.navbar {
  height: 12vh;
  width: 40vw;
  padding-left: 30px;
  padding-right: 30px;
  justify-self: end;
  float: right;
}

.navbar a, nav {
  background-color: black;
}

.navbar a {
  padding: 10px;
  border-radius: 5px;
  transition-duration: 0.3s;
}

.navbar a:any-link {
  color: var(--cor1);
  text-decoration: none;
}

.navbar a:hover {
  color: red;
  background-color: white;
}

main > h1 {
  margin: 0px;
  text-align: center;
}

#banda {
  font-size: 70px;
  padding-top: 20px;
}

#novidades {
  display: flex;
}

#imagens {
  flex: auto;
  flex-direction: column;
}

#imagens img {
  height: 350px;
  width: 350px;
  background-color: black;
  border-radius: 10px;
}

#imagens p {
  padding: 15px;
}

main > h2 {
  margin: 0px;
  padding-top: 100px;
  padding-bottom: 30px;
  font-size: 46px;
}

#datas > .row {
  padding: 30px 0px;
}

#datas hr {
  color: black;
  width: 60vw;
  margin: 0px auto;
}

#datas #bold {
  font-weight: bold;
}

#datas p,
a {
  margin: 2px;
}

#datas a {
  background-color: rgb(161, 7, 7);
  width: 10vw;
  margin: 10px auto 0px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  transition-duration: 0.3s;
  border-radius: 10px;
}

#datas a:any-link {
  text-decoration: none;
  color: var(--cor1);
}

#datas a:hover {
  background-color: rgb(60, 60, 60);
  color: var(--cor1);
}

#datas #todas {
  font-size: 20px;
  font-weight: bold;
}

footer > h1, h2, div {
  text-align: center;
}

footer > h1 {
  font-size: 32px;
  padding-top: 100px;
}

footer > h2 {
  margin-top: 30px;
  font-size: 25px;
}

footer > hr {
  color: black;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#email {
  margin-top: 20px;
  margin-bottom: 40px;
}

#email a:any-link {
  color: rgb(186, 0, 0);
  text-decoration: none;
}

#redes {
  width: 60vw;
  margin: 30px auto;
  padding: 0px;
  display: flex;
}

#redes p {
  padding-top: 30px;
}

#redes img {
  margin-bottom: 10px;
}

#redes > .row {
  flex: auto;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 0px 5px 0px 0px;
    width: 70vw;
    font-size: 10px;
  }

  .navbar a {
    padding: 4px;
    margin: 0px;
  }

  #banda {
    font-size: 30px;
    padding-top: 10px;
  }

  #novidades {
    display: block;
  }

  #imagens img {
    height: 200px;
    width: 200px;
  }

  #imagens a, p {
    font-size: 13px;
    margin: auto;
  }

  main > h2 {
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 24px;
  }

  #datas hr {
    width: 75vw;
  }

  #datas p, a {
    font-size: 14px;
  }

  #datas a {
    width: 15vw;
  }

  footer > h1 {
    font-size: 28px;
    padding-top: 100px;
  }

  footer > h2 {
    margin-top: 30px;
    font-size: 24px;
  }

  footer > hr {
    width: 75vw;
  }

  #redes {
    margin: 30px auto;
    padding: 0px;
    display: block;
  }

  #redes p {
    font-size: 14px;
  }

  #redes > .row > a {
    margin: 0px;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .navbar {
    padding: 0px 5px 0px 0px;
    width: 70vw;
    font-size: 10px;
  }

  .navbar a {
    padding: 4px;
    margin: 0px;
  }

  #banda {
    font-size: 30px;
    padding-top: 10px;
  }

  #novidades {
    display: block;
  }

  #imagens img {
    height: 250px;
    width: 250px;
  }

  #imagens p {
    padding: 15px;
    font-size: 15px;
  }

  main > h2 {
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 24px;
  }

  #datas hr {
    width: 75vw;
  }

  #datas p, a {
    font-size: 15px;
  }

  #datas a {
    width: 15vw;
  }

  footer > h1 {
    font-size: 28px;
    padding-top: 100px;
  }

  footer > h2 {
    margin-top: 30px;
    font-size: 24px;
  }

  footer > hr {
    width: 75vw;
  }

  #redes {
    width: 100vw;
    margin: 30px auto;
    padding: 0px;
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    padding: 0px 5px 0px 0px;
    width: 60vw;
  }

  .navbar a {
    padding: 8px;
    margin: 0px;
  }

  #banda {
    font-size: 40px;
    padding-top: 10px;
  }

  #novidades {
    display: block;
  }

  #imagens img {
    height: 350px;
    width: 350px;
  }

  #imagens p {
    font-size: 16px;
  }

  main > h2 {
    font-size: 28px;
  }
  
  #datas hr {
    width: 75vw;
  }

  #datas p, a {
    font-size: 16px;
  }

  #datas a {
    width: 15vw;
  }

  footer > h1, h2, div {
    text-align: center;
  }

  footer > h1 {
    font-size: 34px;
  }

  footer > h2 {
    font-size: 28px;
  }

  footer > hr {
    width: 75vw;
  }

  #redes {
    display: flex;
    width: 80vw;
  }

  #redes > .row {
    flex: auto;
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .navbar {
    padding: 0px 5px 0px 0px;
    width: 45vw;
  }

  .navbar a {
    padding: 6px;
    margin: 0px;
  }

  #banda {
    font-size: 40px;
    padding-top: 10px;
  }

  #novidades {
    display: flex;
  }

  #imagens {
    flex: auto;
    flex-direction: row;
    flex-basis: 0;
  }

  #imagens a {
    margin: 0px;
    padding: 0px;
  }

  #imagens img {
    height: 280px;
    width: 280px;
  }

  #imagens p {
    font-size: 16px;
  }

  main > h2 {
    font-size: 28px;
  }
  
  #datas hr {
    width: 75vw;
  }

  #datas p, a {
    font-size: 16px;
  }

  footer > h1, h2, div {
    text-align: center;
  }

  footer > h1 {
    font-size: 34px;
  }

  footer > h2 {
    font-size: 28px;
  }

  footer > hr {
    width: 75vw;
  }

  #redes {
    display: flex;
    width: 70vw;
  }

  #redes > .row {
    flex: auto;
    flex-direction: row;
  }
}