@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor1: #F0DFCB;
}

* {
    font-family: Roboto;
    padding: 0px;
    margin: 0px;
    background-color: var(--cor1);
}

img#logo {
    height: 15vh;
    display: inline-block;
}
.navbar{
    width: 40vw;
    padding-left: 50px;
    padding-right: 50px;
    justify-self: end;  
    display: inline-block;   
}
.navbar a, nav {
    background-color: black;
    
}

.navbar a:link {
    color: white;
    text-decoration: none;

}